{% extends "auctions/layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h2>{{ title }}</h2>
    {% for auction in auctions_list %}
        <div class="card mb-3"
             onclick="location.href='{% url 'auctions:auction' auction.pk %}'"
             style="cursor: pointer">
            <div class="row g-0">
                {% if auction.photos.all %}
                    <div class="col-md-4">
                        <img src="{{ auction.photos.first.img.url }}"
                             alt="{{ auction.photos.first.name }}"
                             class="img-fluid rounded-start">
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="card-body d-flex align-items-start flex-column"
                         style="height: 100%">
                        <h5 class="card-title">{{ auction.title }}</h5>
                        <p class="card-text">{{ auction.description }}</p>
                        {% if auction.category.all %}
                            <div class="btn-group mb-3">
                                {% for category in auction.category.all %}
                                    <a href="{% url 'auctions:category' category.pk %}"
                                       class="btn btn-outline-secondary">{{ category.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="alert alert-primary mt-auto" role="alert">Price: {{ auction.starting_price }} $</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
