{% extends "auctions/layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <form action="{% url "auctions:auction" auction.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden"
               name="{% if is_watched %}unwatch{% else %}watch{% endif %}"
               value="{{ auction.pk }}">
        {% if user.is_authenticated %}
            <button type="submin"
                    class="btn {% if is_watched %} btn-primary {% else %} btn-outline-primary {% endif %}">
                <i class="bi {% if is_watched %} bi-eye-fill {% else %} bi-eye {% endif %}"></i>
            </button>
        {% else %}
            <button type="submin" class="btn  btn-secondary" disabled>
                <i class="bi  bi-eye-fill"></i>
            </button>
        {% endif %}
    </form>
    <p>{{ auction.owner }}</p>
    <p>{{ auction.title }}</p>
    <p>{{ auction.description }}</p>
    <p>Starting Price: {{ auction.starting_price }}$</p>
    <p>
        Current Bid:
        {% if current_bid %}
            {{ current_bid }}$
        {% else %}
            -$
        {% endif %}
    </p>
    {{ message }}
    {% if user.is_authenticated %}
        <form action="{% url "auctions:place_bid" auction.pk %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">Bid</span>
                <input type="number"
                       class="form-control"
                       name="bid_amount"
                       min="0.00"
                       step="0.01"
                       placeholder="0.00"
                       required>
                <span class="input-group-text">$</span>
            </div>
            <button type="submit" class="btn btn-primary">Place Bid</button>
        </form>
    {% endif %}
{% endblock %}
