{% extends "auctions/layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <p>Title: {{ auction.title }}</p>
    {% if auction.winner.id == user.id %}
        <p>
            Congratulations {{ user.name }}! You won this auction with a bid of
            ${{ current_bid }}
        </p>
    {% endif %}
    <form action="{% url "auctions:auction" auction.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden"
               name="{% if is_watched %}unwatch{% else %}watch{% endif %}"
               value="{{ auction.pk }}">
        {% if user.is_authenticated %}
            <button type="submin"
                    class="btn {% if is_watched %} btn-primary {% else %} btn-outline-primary {% endif %}">
                <i class="bi {% if is_watched %} bi-eye-fill {% else %} bi-eye {% endif %}"></i>
            </button>
        {% else %}
            <button type="submin" class="btn btn-secondary" disabled>
                <i class="bi bi-eye-fill"></i>
            </button>
        {% endif %}
    </form>
    {% if auction.active == True and user.is_authenticated and auction.owner.id == user.id %}
        <form action="{% url "auctions:close" auction.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-hammer"></i>
            </button>
        </form>
    {% endif %}
    <p>Original Owner: {{ auction.owner }}</p>
    {% if auction.winner %}<p>Winner: {{ auction.winner }}</p>{% endif %}
    <p>Description: {{ auction.description }}</p>
    <p>Starting Price: ${{ auction.starting_price }}</p>
    <p>
        Current Bid:
        {% if current_bid %}
            ${{ current_bid }}
        {% else %}
            -
        {% endif %}
    </p>
    {{ message }}
    {% if user.is_authenticated %}
        <form action="{% url 'auctions:place_bid' auction.pk %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">Bid</span>
                <input type="number"
                       class="form-control"
                       name="bid_amount"
                       min="0.00"
                       step="0.01"
                       placeholder="0.00"
                       required>
                <span class="input-group-text">$</span>
            </div>
            <button type="submit" class="btn btn-primary">Place Bid</button>
        </form>
    {% endif %}
    {% for comment in comments %}
        <div>
            <p>{{ comment.content }}</p>
            <p>{{ comment.user }}</p>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'auctions:comment' auction.pk %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">Comment</span>
                <textarea name="comment"
                          id="comment"
                          class="form-control"
                          required
                          placeholder="Share your thoughts about this auction..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    {% endif %}
{% endblock %}
