{% extends "auctions/layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h2>Create Auction</h2>
    <form action="{% url "auctions:create" %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text"
                   class="form-control"
                   name="title"
                   placeholder="Auction Title"
                   required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" name="description" id="description" required></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">URL</span>
            <input type="text"
                   class="form-control"
                   name="photo_url"
                   placeholder="Photo URL">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Starting Bid</span>
            <input type="number"
                   class="form-control"
                   name="starting_bid"
                   min="0.00"
                   step="0.01"
                   placeholder="0.00"
                   required>
            <span class="input-group-text">$</span>
        </div>
        <div class="input-group mb-3">
            <label for="category_list" class="input-group-text">Categories</label>
            <select name="category_list" id="category_list" class="form-select" multiple>
                {% for category in categories %}<option value="{{ category.title }}">{{ category.title }}</option>{% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Auction</button>
    </form>
{% endblock %}
